@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  height:100%;
  background: -moz-linear-gradient(top, #4648cd 50%, #ffffff 50%);
  background: -webkit-linear-gradient(top, #4648cd 50%,#ffffff 50%);
  background: linear-gradient(to bottom, #4648cd 50%,#ffffff 50%) fixed;
}

.wave-card{
  background-image: url('wave-card.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-card {
  border-right: 1px solid rgb(0, 0, 0, .5);
}